@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rowdies:wght@300&display=swap");

:root {
  --redberryRed: #fe3b1f;
  --primaryBg: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  --primaryStroke: #525557;
  --primaryRed: #eb3535;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Rowdies";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
